.course-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.my-course-img {
  width: 7rem;
  height: 7rem;
}

.course-cover{
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 0.75rem;
  background: linear-gradient(135deg, var(--gray), var(--teal)) !important;
}

